<div *ngIf="isLoading === true">
  <app-loading></app-loading>
</div>
<div *ngIf="isLoading === false">

  <div *ngIf="pizzas === null" class="alert alert-warning">{{message}}</div>

  <div *ngIf="pizzas !== null" >
    <div>
      <form class="" #formulaire="ngForm">
        <label for="rangePrix">Prix max: {{prix}}</label>
        <input type="range" min="0" max="15" class="form-control-range" id="rangePrix" name="rangePrix" [(ngModel)]="prix" >
      </form>
    </div>
    <div class="row">
      <div *ngFor="let pizza of pizzas">
        <div *ngIf="pizza.prix <= prix">
          <app-pizza-details [pizza]="pizza"></app-pizza-details>
          <button routerLink="/commande" (click)="handleClickCommander(pizza)" class="btn btn-primary" > Commander </button>
        </div>
      </div>
    </div>
  </div>

</div>
