<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<style>
  body { background: black; }
</style>
<div class="body-content">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a class="navbar-brand" routerLink="/" >Pizzamania!</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Accueil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carte">Notre carte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/formulaire">Pizza personnalisée</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pizzaPrecedente">Ma pizza préférée</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet>
    </router-outlet>
  </div>
</div>
<footer><p>Joris Duenas - Ancelin Glories</p></footer>
